# Desafio de Projeto da DIO

Criação da Tabela no MySQL

Entrega da tabela utilizando o Jupyter Notebook:
- Conectar o Jupyter ao servidor local do MySQL;
- importar a tabela utilizando o Pandas; 
- "embelezamento" da tabela, simulando o front-end;
    - Alteração do nome das colunas;
    - seleção do type: 0 para Série e 1 para Filme;
    - remoção dos NaN das informações de episódio para o tipo 'filme';
    - conversão do timestamp para o formato de data brasileiro.

O desafio consiste em criar uma tabela de controle de filmes e séries assistidas no MySQL e dosponibilizá-la de uma forma amigável


O primeiro passo é importar as bibliotecas que serão utilizadas: 
- SQLAlchemy para conectar o Jupyter ao banco de dados MySQL;
- Pandas para criar um DataFrame a partir dos dados importados;

In [1]:
from sqlalchemy import create_engine
import pandas as pd

Em seguida será criada uma 'engine' utilizando o SQLAlchemy, que é o mecanismo de conexão entre o MySQL e o Jupyter:

In [2]:
engine = create_engine('mysql+pymysql://root:@localhost/movies-control')

Finalmente será criado o DataFrame 'df', utilizando o método read_sql_table() do Pandas.

In [3]:
df = pd.read_sql_table('movies',engine,index_col=['id'])
# Cria o DataFrame a partir da tabela 'movies', utilizando a conexão 'engine' e define a coluna 'id' como index do DataFrame.

Nesse ponto o DataFrame já está criado e pode ser exibido:

In [4]:
df.head()

    type                      name  total_ep  atual_ep  last_view
id
1      0                   Friends      10.0       1.0 2021-11-26
2      1                  Avengers       NaN       NaN 2022-03-26
3      0  Todo mundo odeia o Chris      20.0       3.0 2022-03-10
4      1                      1917       NaN       NaN 2022-03-26
5      1                       300       NaN       NaN 2022-03-26

O problema é essa exibição foi criada a partir dos dados diretamente retirados do Banco de dados(raw data) e pode não atender exatamente a todas as necessidades.
Para melhorar a legibilidade, poderemos alterar algumas informações:

In [5]:
df.columns = ['Tipo', 'Nome', 'Total de episódios', 'Episódio atual', 'Visto por último']
# Renomeia as colunas

df['Tipo'] = df['Tipo'].map({0:'Série',
                             1:'Filme'}) 
#modifica a coluna 'Tipo' para exbir se é uma Série ou um Filme

df = df.fillna('-')
#Substitui os valores faltantes(NaN) por um traço (-)

df['Visto por último'] = df['Visto por último'].dt.strftime('%d/%m/%Y')
# Altera o formato de data para DD/MM/AAAA

E por fim a tabela está pronta para exibição:

In [6]:
df

,Tipo,Nome,Total de episódios,Episódio atual,Visto por último
id,,,,,
1,Série,Friends,10.0,1.0,26/11/2021
2,Filme,Avengers,-,-,26/03/2022
3,Série,Todo mundo odeia o Chris,20.0,3.0,10/03/2022
4,Filme,1917,-,-,26/03/2022
5,Filme,300,-,-,26/03/2022